    <!-- About Section -->
    <section id="about" class="container content-section xlarge-text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2 class="text-center">About</h2>
              <br/>
              <p><font size="3">Welcome to my project website.</font><p> 
              <p font size="3">I enjoy harvesting information from remote sensing and social-economic datasets and eventually building models that explain and predict.<p>
              <p>Most projects I have done so far combined geospatial data and climate models, and focused on the climate feedback of landcover changes. Through these projects, I have acquired experiences working with Linux clusters, parallel computing, machine learning and model optimization. I use Python as my everyday tool, and also work with Matlab and R. I am looking forward to expanding my expertise to different type of datasets and models.<p>
              <p>I currently hold a B.S. in Ecology from Peking University and M.S. in Earth System Science from Univeristy of California Irvine. I also enjoy playing guitar and cello and doing <a href="https://500px.com/Liu_Guo">photography</a> when I have a chance.<p>
              <br/>
              </div>
        </div>
    </section>
