    <!-- About Section -->
    <section id="about" class="container content-section xlarge-text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2 class="text-center">About</h2>
              <br/>
              <p><font size="3">Welcome to my project website.</font><p> 
              <p font size="3">I enjoy harvesting information from data and building models that explain and predict.<p>
              <p>The research projects I have done so far combined geospatial data and climate models, and focused on the climate feedback of landcover changes. Other side prjocts I have done include predicting restaurant survival rate and building recommendation system based on review text. I was trained in statistics and computational modeling, and acquired experiences with Linux clusters, parallel computing (MapReduce), machine learning and natural language processing through these projects. I use Python as my everyday tool, and also work with Matlab, R and SQL. I am looking forward to expanding my expertise to more real world problems.<p>
              <p>I currently hold a B.S. in Ecology from Peking University and M.S. in Earth System Science from Univeristy of California Irvine. I also enjoy playing guitar and cello and doing <a href="https://500px.com/Liu_Guo">photography</a> when I have a chance.<p>
              <br/>
              </div>
        </div>
    </section>
